{{> head }}

    {{> navbar }}
<div>
    <div class="col-8">
        <h1>Sección de About</h1>
        <p>
            Texto de relleno
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/aboutme.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}